<%= form_for([:admin, @inquiry]) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :email %><br>
    <%= f.text_field :email %>
    </div>


<!-- 
 Addresses:
  <ul>
    <%#= f.fields_for :addresses do |addresses_form| %>
      <li>
        <%#= addresses_form.check_box :_destroy%>
        <%#= addresses_form.label :kind %>
        <%#= addresses_form.text_field :kind %>
        ...
      </li>
    <%# end %>
  </ul>
<%# end %>

-->





  <div class="field">
      <%= f.label :suggested %><br>
    <%= f.text_field :suggested %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
