<h1>Listing inquiries</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Suggested</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.email %></td>
        <td><%= inquiry.suggested %></td>
        <td><%= link_to 'Show', [:admin, inquiry] %></td>
        <td><%= link_to 'Edit', edit_admin_inquiry_path(inquiry) %></td>
        <td><%= link_to 'Destroy', [:admin, inquiry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry', new_admin_inquiry_path %>
