<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @inquiry.email %>
</p>

<p>
  <strong>Suggested:</strong>
  <%= @inquiry.suggested %>
</p>

<%= link_to 'Edit', edit_admin_inquiry_path(@inquiry) %> |
<%= link_to 'Back', admin_inquiries_path %>
