
	<nav class = "siteDiv" id = "headerNav">
<div class = "appContainer" id = "headerContainer">


	<h1 class = "title"> UberConquest by <%= image_tag "uberMediaLogo.png" %>  
		<span class = "conquestButton" id = "headerButton">
		<a href="/conquest/signup" class="fancybox fancybox.ajax">
			<h1 class = "buttonText">Conquest Now <%= image_tag "buttonIcon.png", class: "buttonIcon" %>
				</h1>
		</a>
		</span> 
	</h1>

</div>
</nav>


<div class = "siteDiv" id = "sitePurpose">
	<div class = "appContainer" id = "purposeContainer">
		<div id = "summaryDiv">
			<h2 class = "summaryText"> Conquest <span id="inMarket">in-market</span> </h2>
			<h2 class = "summaryText"> customers directly from </h2>
			<h2 class = "summaryText"> your competitors </h2>
		</div>
		
		<div class = "imageContainer" > <%= image_tag "handEarthPic.png", id: "purposeImage"%> 
			</div>
	</div>
</div>



<div class = "siteDiv" id = "odometerDiv"> 
	<div class = "appContainer" id = "odometerContainer">
		<div id="odometerHolder">
			<p class = "odometerText">UberConquest has 
					<span class = "odometer"></span>
					mobile phone profiles
				</p> 
				<p class = "odometerText"> <b>that allow you to reach precise audiences</b> </p>
		</div>
	</div>
</div>


<section id = "segmentSection"> 
	<div class = "appContainer" id = "segmentContainer">
		<h2 id = "segmentHeader"> We have 100,000s  of custom segments </h2>

		
	
		<% @categories.each do |category| %>
		<%= content_tag :div, class: "categoryDiv", 
		style: "background-image: url('#{category.background.url}'); 
				background-size:	contain,contain;
				background-repeat: no-repeat; " do -%>
			<h2 class = "categoryName"> <%= category.name %> </h2>
			<% category.segments.each do |segment| %>
				<ul class = "segmentList">
					<li class = "segmentItem"> 
						<p class = "segmentName">
							<%= link_to "#{segment.name}", segment_path(segment), class: "fancybox fancybox.ajax" %>
							<span class = "segmentCount"> <%= segment.conquestCount %> </span>
						</p> 
					</li>
					
				</ul>
			<% end %>
			
		<% end -%>
	
		<% end %>
	</div>

</section>

<div class = "siteDiv" id = "footerDiv">
	<div class = "appContainer" id = "footerContainer">
		<span id = "cityImage"> <%= image_tag "city.png" %>
		</span> 
		<a href="/conquest/signup" class="fancybox fancybox.ajax">
			<span class = "conquestButton" id = "footerButton">
				 <h1 class = "buttonText">Conquest Now</h1> 
				 <h1 class = "buttonText">choose a segment</h1> 
				 <%= image_tag "buttonIcon.png", class: "buttonIcon" %>
			 </span>
		 </a>
	</div>
</div>
