

<% @segment = Segment.find(params[:id]) %>

<div class="segmentInstanceContainer">
  <div class="segmentInstanceHeader">
      <h2 class = "segmentInstanceName">
        <%= @segment.name %>
      </h2>
      <p class="sengmentInstanceGeofences">
           <%= "#{@segment.geofenceCount }" + "geo-fenced locations" %>
      </p>
      <p class="segmentInstanceConquest">
          <%= "#{@segment.conquestCount}" + "conquestable visitors per month" %>
      </p>
  </div>

  <div class="segmentInstanceLocationContainer">
    <p class="segmentInstanceLocationHeader">
        <%= @segment.location %>
    </p>
  </div>

  <div class = "segmentInstanceInfoContainer">
    <p class = "segmentInstanceLocation1">  <strong><%= @segment.location %></strong> </p>
    <ul class= "segmentInstanceInfoList">
      <li class = "segmentInstanceListItem segmentInstanceLocation2">
        <%= image_tag "pinIcon.png", class: "segmentInstanceListIcon" %>  
        <%= @segment.location %>
      </li>
      <li class = "segmentInstanceListItem" id= "segmentInstanceDMA">
       <%= image_tag "dmaIcon.png", class: "segmentInstanceListIcon" %>  <%= @segment.dma %>
      </li>
       <li class = "segmentInstanceListItem" id=  "segmentInstanceDeviceCount">
       <%= image_tag "phoneIcon.png", class: "segmentInstanceListIcon" %>  <%= "#{@segment.deviceCount}" + "/month" %>
      </li>
    </ul>
     <div class= "segmentInstanceImageContainer"> 
      <%= image_tag "#{@segment.image.url}", class: "segmentInstanceImage" %>
     </div>
  </div>

  <div class = "segmentConquest">
    <span class = "conquestButton" id = "segmentConquestHeaderButton">
    <a href="/conquest/signup" class="fancybox fancybox.ajax">
      <h1 class = "buttonText">Conquest Now <%= image_tag "buttonIcon.png", class: "buttonIcon" %>
        </h1>
    </a>
    </span> 
  </div>
</div>



<p id="notice"><%= notice %></p>


