<% @categories = Category.all %>
<%# render "form" %>




<div class = "conquestPlannerContainer">
	<div class = "conquestPlannerHeaderDiv">
		<h1 class = "conquestPlannerHeader">Plan Your Conquest</h1>
		<h1 class = "conquestPlannerHeaderSub"><em>And We'll Get Right Back to You</em></h1>
		<%# render 'form' %>
		<div id="formDiv">
			<%= form_for([:admin, @inquiry]) do |f| %>
 		 <% if @inquiry.errors.any? %>
    	<div id="error_explanation">
     	 <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

     	 <ul>
     	 <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     	            <% end %>
    	  </ul>
   			 </div>
  		            <% end %>

  <div class="field">
  	<%# form_for([:admin, @inquiry], url: {action: "create"}) do |f| %>
     <%= f.label :email, "Enter your email:" %>  <%= f.email_field :email %>
     <%# end %>
    </div>
  
  
<%# end %>
		</div>
	</div>

	<div class= "segmentSelectorSection">
		<p> Select which market segment(s) you would like to request:</p>
		<div class = "selectableSegments">
			<% @categories.each do |category| %>
			<div class = "signUpCategoryDiv">
				<h2 class = "signUpCategoryName"> <%= category.name %> </h2>
        <%# form_for([:admin, @inquiry], url: {action: "create"}) do |f| %>
        <%# category.segments.each do |segment| %>
          <div class="field" class= "signUpEntry">
          <%= f.collection_check_boxes(:segment_ids, category.segments, :id, :name)  do |entry| %>
           <%= entry.check_box(class: "entryCheckBox") %>
          <%= entry.label(class: "signUpEntry")%>

          <%end%>

        <%# f.fields_for :segments.find_or_initialize_by(inquiry: inquiry) do |iSegment| %>
        <%# iSegment.label :segments, "#{segment.name}" %>  
        <%# iSegment.check_box :name %>
        <%#end %>
        <%# @inquiry.segments.build %>
             <%# f.label :segments, "#{segment.name}" %> 
              <%# f.check_box :segment_id %>
          

        <%#end%>
        </div>
     <%# end %>

			</div>
			<% end %>
		</div>
	</div>

	<div class = "suggestionDiv">
		<div class = "instructionHolder">
      <p class = "suggestionInstruction"> Don't see the segment you're looking for? We may still have it. Tell us who you want to reach: </p>
    </div>
    <div class="field" id = "suggestionField">
		<span class = "suggestionInput" >
      <%# f.label :suggested, "suggestions" %>   <%= f.text_field :suggested, class: "suggestionText" %>
  </span>
   </div>
	</div>


	<div class = "segmentConquest">
    <%#form_for([:admin, @inquiry]) do |f| %>
    <div class="actions">
    <%= f.submit "submit request", class: "submitButton" %>
  	</div>

   <!-- <a href="/conquest/signup" class="fancybox fancybox.ajax">
      <h1 class = "buttonText">Conquest Now <%#image_tag "buttonIcon.png", class: "buttonIcon" %>
        </h1>
    </a>
-->
    <% end %>


  </div>

</div>




