<% @categories = Category.all %>
<%# render "form" %>




<div class = "conquestPlannerContainer">
	<div class = "conquestPlannerHeaderDiv">
		<h1 class = "conquestPlannerHeader">Plan Your Conquest</h1>
		<h1 class = "conquestPlannerHeaderSub"><em>And We'll Get Right Back to You</em></h1>
		<%# render 'form' %>
		<div id="formDiv">
			<%= form_for([:admin, @inquiry]) do |f| %>
 		 <% if @inquiry.errors.any? %>
    	<div id="error_explanation">
     	 <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

     	 <ul>
     	 <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     	 <% end %>
    	  </ul>
   			 </div>
  		<% end %>

  <div class="field">
  	<%= form_for([:admin, @inquiry], url: {action: "create"}) do |f| %>
     <%= f.label :email, "Enter your email:" %>  <%= f.text_field :email %>
     <% end %>
    </div>
  
  
<% end %>
		</div>
	</div>

	<div class= "segmentSelectorSection">
		<p> Select which market segment(s) you would like to request:</p>
		<div class = "selectableSegments">
			<% @categories.each do |category| %>
			<div class = "signUpCategoryDiv">
				<h2 class = "signUpCategoryName"> <%= category.name %> </h2>
        <%= form_for([:admin, @inquiry], url: {action: "create"}) do |f| %>
        <% category.segments.each do |segment| %>
        <%# f.fields_for :segments do |iSegment| %>
        <%# iSegment.label :segments, "#{segment.name}" %>  
        <%# iSegment.check_box :name %>
        <%#end %>
        <%# @inquiry.segments.build %>
             <%# f.label :segments, "#{segment.name}" %> 
              <%= f.check_box :segments %>

        <%end%>
     <% end %>

			</div>
			<% end %>
		</div>
	</div>

	<div class = "suggestionDiv">
		<p class = "suggestionInstruction"> Don't see the segment you're looking for? We may still have it. Tell us who you want to reach: </p>
		<span class = "suggestionInput">
			<%= form_for([:admin, @inquiry]) do |f| %>
		<div class="field">
      <%= f.label :suggested, "suggestions" %>   <%= f.text_field :suggested %>
    </div>
<% end %></span>
	</div>


	<div class = "segmentConquest">
    <%= form_for([:admin, @inquiry]) do |f| %>
    <div class="actions">
    <%= f.submit "conquest" %>
  	</div>

   <!-- <a href="/conquest/signup" class="fancybox fancybox.ajax">
      <h1 class = "buttonText">Conquest Now <%#image_tag "buttonIcon.png", class: "buttonIcon" %>
        </h1>
    </a>
-->
    <% end %>


  </div>

</div>




